  <%= link_to "Back to all cocktails", cocktails_path %>
<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <%= link_to "Delete dose", dose_path(dose), method: :delete, data: { confirm: "are u sure?"} %>
  <% end %>
</ul>
 <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
